<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h2 th:text="${event.name}"></h2>
    <p th:text="${#calendars.format(event.date, 'dd/MM/yyyy')}"></p>
</div>

<fieldset>
    <legend>Add a guest here</legend>
    <form th:action="@{/event/add/guest/{eventId} (eventId=${event.id})}" th:object="${guest}">
        <label>Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <button type="submit">Add</button>
    </form>
</fieldset>

<fieldset>
    <table>
        <legend>Guests</legend>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr th:each="guest : ${event.guests}">
            <td th:text="${guest.name}"></td>
            <td>
                <a th:href="@{/guest/remove/{guestId} (guestId=${guest.id})}">remove</a>
            </td>
        </tr>
    </table>
</fieldset>

<a th:href="@{/home}">Home</a>

</body>
</html>