<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest List</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
    <h1>Hello, welcome to your home page</h1>

    <h2>Your events</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th></th>
        </tr>
        <tr th:each="e : ${events}">
            <td th:text="${e.name}"></td>
            <td th:text="${#calendars.format(e.date, 'dd/MM/yyyy')}"></td>
            <td th:text="${e.location}"></td>
            <td>
                <a th:href="@{/event/edit(eventId=${e.id})}">edit</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/logout}">Log out</a>
</body>
</html>