<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Login</title>
</head>
<body>

<h1>Guest Book</h1>
    <form action="#" name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Login here</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <label>Username</label>
            <input type="text" id="username" name="username"/>
            <label>Password</label>
            <input type="password" id="password" name="password"/>
            <button type="submit" class="btn">Log in</button>
        </fieldset>
    </form>

    New user? Click <a th:href="@{/registration}">here</a> to register

</body>
</html>